<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add review</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

<img th:src="@{/images/header2.png}" class="img-fluid" alt="Responsive image"/>
<header th:insert="header.html :: header"></header>

<div class="text-center">
    <br/><br/>
    <img th:src="${thisMovie.Poster}" height="500px" class="rounded"/>
    <br/><br/>
</div>
<div>
    <table class="table table-bordered">
        <tr class="table-secondary">
            <th>Movie title</th>
            <td th:text="${thisMovie.Title}"/>
        </tr>

        <tr class="table-secondary">
            <th>Username:</th>
            <td><span sec:authentication="name"> </span></td>
        </tr>

        <tr class="table-secondary">
            <th>Your review:</th>

            <td>
                <form action="#"
                      th:action="@{/addreview}"
                      th:object="${review}" method="post">
                    <div class="form-group">
                        <input type="hidden" id="imdbID" name="imdbID" th:value="${thisMovie.imdbID}">
                        <input type="hidden" id="userName" name="userName" th:value="${review.userName}">

                        <label for="review"></label>
                        <textarea class="form-control" id="review" rows="3" th:field="*{reviewText}"></textarea>
                        <small id="reviewHelpBlock" class="form-text text-muted">
                            Your review must be max 2500 characters long
                        </small>
                        <input type="submit"  class="btn btn-outline-dark" value="Add your review">
                    </div>
                </form>
            </td>
        </tr>
    </table>
</div>
</body>
</html>