<div xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="header">
    <div sec:authorize="isAuthenticated()">
        <div class="welcome"><br>Hello, <span sec:authentication="name"> </span>
        </div>
        <form th:action="@{/logout}" method="get">
            <button class="btn btn-outline-dark" name="Submit" value="Logout" type="Submit"
                    th:text="Logout"></button>
        </form>
    </div>

    <div sec:authorize="!isAuthenticated()">
        <span class="welcome">Want to log in?</span>
        <button class="btn btn-outline-dark"><a th:href="@{/login}">
            <span class="welcome"> <b>GO TO LOGIN</b></span></a>
        </button>
    </div>
    <br>
    <form th:action="@{/search}" method="get">
        <input type="text" name="title" id="title" style="width: 600px; height: 35px"
               placeholder="Start another search" th:value="${title}"/>

        <button class="btn btn-outline-dark" type="Submit">Search</button>
        <a th:href="@{/login}" class="btn btn-outline-dark">
            <span> <b>HOME</b></span>
        </a>
    </form>
</div>