<body style="background-color:white;">
<div xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="header">
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/welcome.css}"/>
    <div style="text-align: center; font-size: 140%; font-family: arial;"> <i>TOP of the best REVIEWS</i> </div>
    <div>
        <table class="table table-bordered">
            <tr class="table-secondary">

                <th scope="col">Review for movie:</th>
                <th scope="col">Poster</th>
                <th scope="col">User</th>
                <th scope="col">Rating</th>
                <th scope="col">Review text</th>
                <th scope="col">Time</th>
                <th scope="col">More info</th>
            </tr>
            <tr th:each="review: ${allSavedReviews}">
                <td>
                    <span th:text="${review.movieTitle}"></span>
                <td>
                    <img class="poster-position" th:src="${review.moviePoster}" height="200px"/>
                </td>
                <td> <span th:text="${review.userName}"></span> </td>
                <td><span th:text="${review.getRatingForThisReview()}"></span></td>
                <td><span th:text="${review.reviewText}"></span></td>
                <td><span th:text="${#temporals.format(review.Date, 'dd-MM-yyy HH:mm')}"></span></td>
                <td><a th:href="@{/read-review/{id}/{imdbID}(id=${review.reviewId}, imdbID=${review.imdbID})}"
                       class="btn btn-outline-dark">
                    <span>SEE FULL REVIEW INFO</span>
                </a></td>
            </tr>
        </table>
    </div>
</div>