<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:left="http://www.w3.org/1999/xhtml" xmlns:right="http://www.w3.org/1999/xhtml">
<head>
    <title>Home page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/welcome.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body style="background-color:white;">

<img th:src="@{/images/header2.png}" class="img-fluid" alt="Responsive image"/>
<br>
<br>
<form th:action="@{/search}" method="get" align="center">
    <input type="text" name="title" id="title" style="width: 600px; height: 40px"
           placeholder="Start search" th:value="${title}"/>
    <button class="btn btn-outline-dark" type="Submit">Search</button>
</form>

<div sec:authorize="!isAuthenticated()" align="right" class="index">
    <h4>Don`t have an account?</h4>
    <form th:action="@{/registration}" method="get">
        <button class="btn btn-outline-dark" type="Submit">Create New Account</button>
    </form>
    <br>
    <a href="/login">
        <button class="btn btn-outline-dark" name="Submit" value="Login" type="Submit"
                th:text="Login"></button>
    </a>
</div>

<div sec:authorize="isAuthenticated()">
    <div class="welcome">Hello, <span sec:authentication="name"></span>
    </div>
    <form th:action="@{/logout}" method="get" class="index2">
        <button class="btn btn-outline-dark" name="Submit" value="Logout" type="Submit"
                th:text="Logout"></button>
    </form>
</div>
</body>
</html>