<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:left="http://www.w3.org/1999/xhtml" xmlns:right="http://www.w3.org/1999/xhtml">
<head>
    <title>Home page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/welcome.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body style="background-color:white;">

<img th:src="@{/images/header2.png}" class="img-fluid" alt="Responsive image"/>
<br>
<br>
<form th:action="@{/search}" method="get" align="center">
    <input type="text" name="title" id="title" style="width: 600px; height: 40px"
           placeholder="Start search" th:value="${title}"/>
    <button class="btn btn-outline-dark" type="Submit">Search</button>
</form>

<div sec:authorize="!isAuthenticated()" align="right" class="index">
    <h4>Don`t have an account?</h4>
    <form th:action="@{/registration}" method="get">
        <button class="btn btn-outline-dark" type="Submit">Create New Account</button>
    </form>
    <br>
    <a href="/login">
        <button class="btn btn-outline-dark" name="Submit" value="Login" type="Submit"
                th:text="Login"></button>
    </a>
</div>

<div sec:authorize="isAuthenticated()">
    <div class="welcome">Hello, <span sec:authentication="name"></span>
    </div>
    <form th:action="@{/logout}" method="get" class="index2">
        <button class="btn btn-outline-dark" name="Submit" value="Logout" type="Submit"
                th:text="Logout"></button>
    </form>
</div>


<!--<div> TOP of the brest REVIEWS</div>-->
<!--<div>-->
<!--    <table class="table table-bordered">-->
<!--        <tr class="table-secondary">-->

<!--            <th scope="col">Review for movie: </th>-->
<!--            <th scope="col">Poster</th>-->
<!--            <th scope="col">User</th>-->
<!--            <th scope="col">Rating</th>-->
<!--            <th scope="col">Review text</th>-->
<!--            <th scope="col">Time</th>-->
<!--            <th scope="col">More info</th>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td th:text="${oneMovie.Title}"/>-->
<!--            <td>-->
<!--                <img class="poster-position" th:src="${oneMovie.Poster}" height="200px"/>-->
<!--            </td>-->
<!--            <td>-->
<!--                <span th:text="${oneReview.userName}"></span>-->
<!--            </td>-->
<!--            <td><span th:text="${ratingToUse}"></span></td>-->
<!--            <td colspan="5" class="text-placement "><span th:text="${oneReview.reviewText}"></span></td>-->
<!--            <td><span th:text="${#temporals.format(oneReview.Date, 'dd-MM-yyy HH:mm')}"></span></td>-->
<!--            <td><a th:href="@{/read-review/{id}/{imdbID}(id=${review.reviewId}, imdbID=${oneMovie.imdbID})}"-->
<!--                   class="btn btn-outline-dark">-->
<!--                <span>SEE FULL REVIEW INFO</span>-->
<!--            </a></td>-->
<!--        </tr>-->
<!--    </table>-->
<!--</div>-->
</body>
</html>