<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Movie</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/movie-table-positioning.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<img th:src="@{/images/header2.png}" class="img-fluid" alt="Responsive image"/>
<header th:insert="header.html :: header"></header>
<br>
<div th:if="${oneMovie != null}">
    <table class="table table-bordered">
        <tr class="table-secondary">
            <th>Title</th>
            <td th:text="${oneMovie.Title}"/>
        </tr>
        <tr class="table-secondary">
            <th>Poster</th>
            <td>
                <img class="poster-position" th:src="${oneMovie.Poster}" height="200px"/>
            </td>
        </tr>
        <tr class="table-secondary">
            <th>Year</th>
            <td th:text="${oneMovie.Year}"/>
        </tr>
        <tr class="table-secondary">
            <th>Rated</th>
            <td th:text="${oneMovie.Rated}"/>
        </tr>
        <tr class="table-secondary">
            <th>Released</th>
            <td th:text="${oneMovie.Released}"/>
        </tr>
        <tr class="table-secondary">
            <th>Runtime</th>
            <td th:text="${oneMovie.Runtime}"/>
        </tr>
        <tr class="table-secondary">
            <th>Genre</th>
            <td th:text="${oneMovie.Genre}"/>
        </tr>
        <tr class="table-secondary">
            <th>Director</th>
            <td th:text="${oneMovie.Director}"/>
        </tr>
        <tr class="table-secondary">
            <th>Writer</th>
            <td th:text="${oneMovie.Writer}"/>
        </tr>
        <tr class="table-secondary">
            <th>Actors</th>
            <td th:text="${oneMovie.Actors}"/>
        </tr>
        <tr class="table-secondary">
            <th>Plot</th>
            <td th:text="${oneMovie.Plot}"/>
        </tr>
        <tr class="table-secondary">
            <th>Language</th>
            <td th:text="${oneMovie.Language}"/>
        </tr>
        <tr class="table-secondary">
            <th>Country</th>
            <td th:text="${oneMovie.Country}"/>
        </tr>
        <tr class="table-secondary">
            <th>Awards</th>
            <td th:text="${oneMovie.Awards}"/>
        </tr>
        <tr class="table-secondary">
            <th>imdbRating</th>
            <td th:text="${oneMovie.imdbRating}"/>
        </tr>
        <tr class="table-secondary">
            <th>Type</th>
            <td th:text="${oneMovie.Type}"/>
        </tr>
        <tr class="table-secondary">
            <th>REVIEWS</th>
            <td></td>
        </tr>
        <div th:if="${not #lists.isEmpty(reviewsForThisMovie)}">
            <tr th:each="review: ${reviewsForThisMovie}" class="table-secondary">
                <th th:text="${review.userName}"></th>
                <td th:text="${review.reviewText}"></td>
            </tr>
        </div>
        <div th:unless="${not #lists.isEmpty(reviewsForThisMovie)}">
            <tr class="table-secondary">
                <th></th>
                <td>There are currently no reviews for this movie!</td>
            </tr>
        </div>
    </table>
</div>

<div th:unless="${oneMovie != null}">
    <div class="card">
        <div class="card-body">
            No movie found!
        </div>
    </div>
</div>
</body>
</html>