
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add review</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<img th:src="@{/images/header2.png}" class="img-fluid" alt="Responsive image"/>
<header th:insert="header.html :: header"></header>

<div class="text-center">
    <br/><br/>
    <img th:src="${thisMovie.Poster}" height="400px" class="rounded"/>
    <br/><br/>
</div>

</body>
</html>