<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Your search results</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<header th:insert="header.html :: header"> </header>

<div th:if="${not #lists.isEmpty(movies)}">
    <table class="table table-bordered">
        <tr class="bg-warning">
            <th>Poster</th>
            <th>Title</th>
            <th>Year</th>
            <th>imdbID</th>
            <th>Type</th>
            <th>Review info</th>
        </tr>
        <tr th:each="movie: ${movies}" class="table-warning">
            <td>
                <img th:src="${movie.Poster}" height="100px"/>
            </td>
            <td>
                <a th:href="@{/search/movie/{id}(id=${movie.imdbID})}" th:text="${movie.Title}">
                </a>

            </td>
            <td th:text="${movie.Year}"/>
            <td th:text="${movie.imdbID}"/>
            <td th:text="${movie.Type}"/>

            <td>
                <a th:href="@{/READREVIEWLINK}" class="btn btn-warning">
                    <span>READ REVIEWS</span>
                </a>
                <br/><br/>
                <a th:href="@{/review/add/{id}(id=${movie.imdbID})}" sec:authorize="isAuthenticated()" class="btn btn-warning">
                    <span>WRITE REVIEW</span>
                </a>
            </td>
        </tr>
    </table>
</div>
<div th:unless="${not #lists.isEmpty(movies)}">
    <div class="card">
        <div class="card-body">
            No movies found!
        </div>
    </div>
</div>
</body>
</html>